cloud_formation/lambda_function/node_modules
cloud_formation/output-template.yaml
node_modules
static/node_modules
static/public/images/*
static/public/images/*.jpg
static/public/images/*.jpeg
static/public/images/*.png
static/public/images/*.gif
static/public/images/*.webp
